<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsYlKZ0S6aWHyqvmQTFi6qKk9lE3LXPr4</string>
	<key>GCM_SENDER_ID</key>
	<string>1071781606611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.houdaBouhaouli</string>
	<key>PROJECT_ID</key>
	<string>bouhaouli-houda</string>
	<key>STORAGE_BUCKET</key>
	<string>bouhaouli-houda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071781606611:ios:38d5f108bbd65d9f0c5026</string>
</dict>
</plist>